/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_dark {
  --main-font: 'IBM Plex Mono';
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --hover-color: #ff007066;
  --sec-color: #000028;
  --menu-color: #ff0070;
  --accent-color: #ff0070;
  --heading-accent-color: #ff0070;
  --text-heading-color: #ff0070;
  --heading-color: #db00ff;
  --font-size: 18px;
  --heading-font-weight: 700;
  --line-height: 23.4px;
  --rec-hide: visible;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-hide: visible;
}
