@media (prefers-color-scheme: light) {
:root {
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --hover-color: #32312d66;
  --bg-color:  #fff1f7;
  --sec-color: #353430;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --font-size: 18px;
  --rec-hide: none;
  --heading-font-weight: 700;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-light.png);
}
}

.page.theme_light {
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --sec-color: #353430;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --text-heading-color: #353430;
  --font-size: 18px;
  --rec-hide: none;
  --heading-font-weight: 700;
  --line-height: 23.4px;
  --hover-color: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, #32312d66);
}