@media (prefers-color-scheme: light) {
:root {
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --bg-color: #ff8dcb;
  --sec-color: #fff1f7;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --font-size: 18px;
  --rec-hide: none;
  --heading-font-weight: 700;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-light.png);
}
}

.page.theme_light {
  --main-font: 'IBM Plex Mono';
  --text-color: #353430;
  --bg-color: #ff8dcb;
  --sec-color: #fff1f7;
  --menu-color: #353430;
  --accent-color: #ff8dcb;
  --heading-color: #ffc2e6;
  --font-size: 18px;
  --rec-hide: none;
  --heading-font-weight: 700;
  --line-height: 23.4px;
  --bg-image: url(../images/cover-image-light.png);
}
