/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  font-size: var(--font-size, 18px);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-color: var(--bg-color, #000028);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color, #ff0070);
  border-block-start: 1px solid var(--menu-color, #ff0070);
  inset-block-start: 10px;
  inset-inline-end: 10px;
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color, #ff0070);
  border-block-end: 1px solid var(--menu-color, #ff0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
  block-size: 25px;
  inline-size: 25px;
}

.header__rec {
  position: absolute;
  display: var(--rec-hide, block);
  inset-block-start: 11px;
  inset-inline-end: 37px;
}

.header__rec::before {
  content: "rec";
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, monospace);
  font-size: var(--font-size, 18px);
  text-transform: uppercase;
  inset-inline-start: 0;
  inset-block-start: 0;
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  inset-inline-start: calc(100% + 9px);
  inset-block-start: 8px;
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  margin-block-end: 4px;
  display: grid;
  gap: 14px;
}

.header__theme-menu-button {
  border: none;
  color: var(--menu-color, #ff0070);
  padding: 2px 13px;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color, #ff007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.heading {
  justify-self: start;
  color: var(--heading-color, #db00ff);
  font-weight: var(--heading-font-weight, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--heading-accent-color, #ff0070);
}

.title__text {
  max-inline-size: 364px;
}

.title-decor {
  color: var(--sec-color, #000028);
  font-weight: var(--heading-font-weight, 700);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 23.4px);
  background-color: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__heading {
  color: var(--accent-color, #ff0070);
  font-weight: var(--heading-font-weight, 700);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 23.4px);
}

.content__heading-text {
  color: var(--sec-color, #000028);
  font-weight: 400;
  line-height: var(--line-height, 23.4px);
  background-color: var(--accent-color, #ff0070);
}

.content__text-block {
  font-weight: 400;
  line-height: 23.4px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
}

.article__block {
  display: grid;
  gap: 20px;
}

.advice .content__heading-title {
  margin-block-end: 20px;
}

.content__section.gallery {
  grid-template-columns: auto;
  gap: 10px;
}

.drawings {
  display: grid;
  gap: 10px;
}

.page__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  min-block-size: 100vh;
}

.footer .heading {
  color: var(--heading-color, #db00ff);
  text-shadow: 2px 2px 0px var(--heading-accent-color, #ff0070);
}

@media (768px <= width) {
  .title__text {
    justify-self: end;
    margin-block-end: 18px;
  }

  .header {
    padding: 0;
    padding-inline-end: 20px;
  }

  .footer {
    margin-block-start: 60px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-block-start: 21px;
    inset-inline-end: 47px;
  }

  .header__theme-menu-list {
    margin-block-start: 15px;
    margin-block-end: 0;
    margin-left: 10px;
  }

  .main {
    gap: 80px;
    margin-block-start: 60px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .content__section {
    grid-template-columns: 236px 2fr;
  }

  .main__section-content:nth-of-type(2) {
    grid-column-start: 2;
  }

  .content__section.concentration__block {
    grid-template-columns: min-content 1fr;
  }
  
  .concentration__section {
    grid-column: 1/4;
  }
  
  .advice .content__section {
    grid-template-columns: min-content 1fr;
  }

  .advice .main__section-content {
    grid-column: 2/4;
  }
  
  .gallery .content__heading-title {
    margin-block-end: 10px;
  }

  .page__picture:nth-of-type(1) {
    grid-area: sunset;
  }

  .page__picture:nth-of-type(2) {
    grid-area: ice-cream;
  }

  .page__picture:nth-of-type(3) {
    grid-area: tape;
  }

  .page__picture:nth-of-type(4) {
    grid-area: books;
  }

  .page__picture:nth-of-type(5) {
    grid-area: street;
  }

  .drawings {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }
}

@media (1024px <= width) {

  .title__text {
    margin-block-end: 5px;
    max-inline-size: 491px;
  }

  .header__theme-menu {
    display: flex;
    justify-self: center;
    align-self: flex-start;
    padding-inline-start: 11px;
    font-size: 18px;
    line-height: 18px;
    padding-block-start: 6px;
  }
  .header__theme-menu-list {
    display: flex;
    margin-block-end: 0;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .content__section {
    grid-template-columns: 314px 2fr;
  }

  .content__section.concentration__block {
    grid-template-columns: 314px 2fr;
  }
  
  .concentration__section {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1/3;
  }
}