:root {
  --main-font: 'IBM Plex Mono';
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --sec-color: #000028;
  --menu-color: #ff0070;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --font-size: 18px;
  --heading-font-weight: 700;
  --line-height: 23.4px;
}
/*
  Переменные для вашего проекта
  и их переопределение под различные устройства */

